@font-face {
    font-family: 'BahijHelveticaNeue';
    src: url('../fonts/BahijHelvetica.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikArabic';
    src: url('../fonts/GraphikArabic-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikArabic';
    src: url('../fonts/GraphikArabic-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikArabic';
    src: url('../fonts/GraphikArabicTEST-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

body {
    color: #0E2938;
    font-family: 'GraphikArabic', sans-serif;
}

.container-fluid {
    padding-right: 5rem;
    padding-left: 5rem;
}

.relative {
    position: relative;
}

.text-decration {
    text-decoration: none;
}

.header .left a {
    display: inline-block;
    font-family: 'GraphikArabic';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    padding: 10px 15px;
    margin-left: 8px;
}

.text-dark {
    color: #0E2938;
}

.orange-outline {
    border: 1px solid #FF961A;
    border-radius: 30px;
}

.bl-1 {
    margin-left: 0px !important;
    margin-right: 10px;
    padding-right: 20px;
    border-right: 1px solid #FF961A;
}

.des-none {
    display: none;
}

.hero-mobile {
    display: none;
}

.hero-desktop {
    display: block;
}

.section1-mobile {
    display: none;
}

.section2-mobile {
    display: none;
}

.section3-mobile {
    display: none;
}

.section4-mobile {
    display: none;
}

.section5-mobile {
    display: none;
}

.section6-mobile {
    display: none;
}

.section7-mobile {
    display: none;
}

.section8-mobile {
    display: none;
}

.about-banner {
    background: transparent;
    padding: 0;
}

.about-banner .container-fluid {
    padding: 0;
}

.featuer-section {
    background: transparent;
    padding: 0;
}

.featuer-section .container-fluid {
    padding: 0;
}

.text-orange {
    color: #EB593D;
}

.feature2-section {
    background: transparent;
    padding: 0;
}

.feature2-section .container-fluid {
    padding: 0;
}

.cta-sectin {
    background: transparent;
    padding: 0;
}

.cta-sectin .container-fluid {
    padding: 0;
}

.team-section {
    background: transparent;
    padding: 0;
}

.team-section .container-fluid {
    padding: 0;
}

.pkg-section {
    background: transparent;
    padding: 0;
}

.pkg-section .container-fluid {
    padding: 0;
}

.timing {
    background: transparent;
    padding: 0;
}

.timing .container-fluid {
    padding: 0;
}

.pkg-section2 {
    background: transparent;
    padding: 0;
}

.pkg-section2 .container-fluid {
    padding: 0;
}

.footer {
    padding: 100px 0px;
    background: #0E2938;
}

.f-widget h6 {
    font-family: BahijHelveticaNeue;
    font-size: 17px;
    font-weight: 300;
    line-height: 26.73px;
}

.f-widget a {
    text-decoration: none;
    font-family: BahijHelveticaNeue;
    font-size: 16.14px;
    font-weight: 300;
    line-height: 25.38px;
    color: #fff;
    display: block;
    padding: 5px 0px;
}

.text-orange {
    color: #EB593D;
}

.text-green {
    color: #91B8B3;
}

.text-yellow {
    color: #FF961A;
}

.f-widget h2 {
    font-family: GraphikArabic;
    font-size: 24px;
    font-weight: 900;
    line-height: 28.8px;
    color: #EB593D;
}

.f-widget h3 {
    font-family: GraphikArabic;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
}

.f-widget h5 {
    font-family: BahijHelveticaNeue;
    font-size: 18px;
    font-weight: 300;
    line-height: 28.3px;
    color: #FF961A;
}

.bor-l {
    padding-bottom: 40px;
    padding-right: 40px;
    border-right: 1px solid #fff;
}

.show-mob {
    display: none;
}


@media only screen and (max-width: 1310px) {
    img.logo1 {
        width: 220px;
    }

    img.logo2 {
        width: 120px;
    }

    .header .left a {
        padding: 10px 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1120px) {
    .des-none {
        display: inline-block;
    }
}

@media only screen and (max-width: 1110px) {
    .header-wraper.d-flex.justify-content-between.align-items-center.pt-3.pb-3 {
        flex-direction: column-reverse;
        align-items: center !important;
        text-align: center;
    }

    .left {
        margin-top: 10px;
        justify-content: center;
        width: 100%;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .logo1 {
        width: clamp(150px, 45vw, 300px) !important;
    }

    .logo2 {
        width: clamp(70px, 20vw, 150px) !important;
    }

    .header .left a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .hero-desktop {
        display: none !important;
    }

    .hero-mobile {
        display: block !important;
    }

    .section1-desktop {
        display: none !important;
    }

    .section1-mobile {
        display: block !important;
        width: 100%;
    }

    .about-banner {
        background: transparent !important;
        padding: 0 !important;
        margin-top: 0;
    }

    .about-banner .container-fluid {
        padding: 0 !important;
    }

    .section1-mobile {
        width: 100% !important;
        max-width: 100% !important;
    }

    .section2-desktop {
        display: none !important;
    }

    .section2-mobile {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .featuer-section {
        background: transparent !important;
        padding: 0 !important;
    }

    .featuer-section .container-fluid {
        padding: 0 !important;
    }

    .section3-desktop {
        display: none !important;
    }

    .section3-mobile {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .feature2-section {
        background: transparent !important;
        padding: 0 !important;
    }

    .feature2-section .container-fluid {
        padding: 0 !important;
    }

    .section4-desktop {
        display: none !important;
    }

    .section4-mobile {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .pkg-section {
        background: transparent !important;
        background-image: none !important;
        padding: 0 !important;
        margin-top: 0;
    }

    .pkg-section .container-fluid {
        padding: 0 !important;
    }

    .section5-desktop {
        display: none !important;
    }

    .section5-mobile {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .timing {
        background: transparent !important;
        padding: 0 !important;
        margin-top: 0;
    }

    .timing .container-fluid {
        padding: 0 !important;
    }

    .section6-desktop {
        display: none !important;
    }

    .section6-mobile {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .pkg-section2 {
        background: transparent !important;
        padding: 0 !important;
    }

    .pkg-section2 .container-fluid {
        padding: 0 !important;
    }

    .section7-desktop {
        display: none !important;
    }

    .section7-mobile {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .team-section {
        background: transparent !important;
        padding: 0 !important;
    }

    .team-section .container-fluid {
        padding: 0 !important;
    }

    .section8-desktop {
        display: none !important;
    }

    .section8-mobile {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .cta-sectin {
        background: transparent !important;
        padding: 0 !important;
        margin-top: 0;
    }

    .cta-sectin .container-fluid {
        padding: 0 !important;
    }

    .header .left a {
        font-size: 12px;
        padding: 8px 8px;
    }

    .season1-btn-img {
        max-width: 192px !important;
        margin-top: -40px;
    }

    /* Ensure no gaps between sections on mobile */
    .banner,
    .about-banner,
    .featuer-section,
    .feature2-section,
    .pkg-section,
    .timing,
    .pkg-section2,
    .team-section,
    .cta-sectin {
        font-size: 0;
        line-height: 0;
        margin: 0;
        padding: 0 !important;
        background: transparent !important;
    }

    .banner img,
    .about-banner img,
    .featuer-section img,
    .feature2-section img,
    .pkg-section img,
    .timing img,
    .pkg-section2 img,
    .team-section img,
    .cta-sectin img {
        display: block;
    }

    .banner .row,
    .about-banner .row,
    .featuer-section .row,
    .feature2-section .row,
    .pkg-section .row,
    .timing .row,
    .pkg-section2 .row,
    .team-section .row,
    .cta-sectin .row {
        margin: 0 !important;
        --bs-gutter-x: 0;
    }

    .banner .col-md-12,
    .about-banner .col-md-12,
    .featuer-section .col-md-12,
    .feature2-section .col-md-12,
    .pkg-section .col-md-12,
    .timing .col-md-12,
    .pkg-section2 .col-md-12,
    .team-section .col-md-12,
    .cta-sectin .col-md-12 {
        padding: 0 !important;
    }

    img.mob-none.logof {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .mob-none {
        display: none;
    }

    .show-mob {
        display: block;
    }

    .ilm {
        width: 40px !important;
    }

    .right img.mx-3 {
        display: inline-block !important;
        margin-left: 6px !important;
        margin-right: 6px !important;
        height: 30px;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .f-widget {
        text-align: center;
    }

    .f-widget .d-flex {
        justify-content: center;
    }

    .bor-l {
        padding-bottom: 0px;
        padding-right: 0px;
        border-right: 0px;
    }

    .f-widget .logof {
        margin-bottom: 30px;
        width: 100%;
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .social h5 {
        margin-top: 0px !important;
    }

    .header .left a {
        font-size: 11px;
        padding: 8px 4px;
        margin-left: 0px;
    }

    .left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
    }

    .bl-1 {
        margin-left: 0px !important;
        margin-right: 0px !important;
        border-right: 0px;
    }

    .logo1 {
        width: clamp(130px, 45vw, 220px) !important;
    }

    .logo2 {
        width: clamp(55px, 20vw, 100px) !important;
    }

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }

    /* Override global container-fluid padding for sections */
    .banner .container-fluid,
    .about-banner .container-fluid,
    .featuer-section .container-fluid,
    .feature2-section .container-fluid,
    .pkg-section .container-fluid,
    .timing .container-fluid,
    .pkg-section2 .container-fluid,
    .team-section .container-fluid,
    .cta-sectin .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .footer {
        padding: 50px 0px;
    }

    img.mob-none.logof {
        display: none;
    }
}
